[phases.setup]
nixPkgs = [
  "nodejs_20",
  "python3",
  "gcc",
  "make", 
  "pkg-config"
]

[phases.setup.cache]
directories = [
  "/root/.npm",
  "/app/node_modules"
]

[phases.install]
cmd = "npm install -g yarn && yarn install --frozen-lockfile"


[phases.build]
cmd = "yarn run build"

[start]
cmd = "node .output/server/index.mjs"