@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply text-black-primary;
  }
  h1 {
    @apply font-semibold text-2xl;
  }
  h2 {
    @apply font-semibold text-[1.375rem] leading-[1.875rem];
  }
  h3 {
    @apply font-semibold text-[1.25rem] leading-[1.75rem];
  }
  h4 {
    @apply font-semibold text-[1.125rem] leading-[1.625rem];
  }

  .g-container {
    padding: 0 1rem;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
  }

  .g-button {
    border: none;
    background: transparent;
    padding: 0;
    line-height: 1.5rem;
    cursor: pointer;
  }
  .g-button--gray-blue {
    padding: 0.0625rem 1.5rem;
    background: var(--blue-light);
    color: var(--blue-dark);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.375rem;
  }
  .g-button--gray-blue:hover {
    background: var(--gray-light);
  }
  .g-button--gray-blue:active {
    background: var(--blue-light);
  }
  .g-button--gray-blue:disabled {
    background: var(--gray-pale);
    color: var(--gray);
    cursor: default;
  }

  .g-button--black-2 {
    color: var(--white);
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.9375rem;
    background: #484f55;
    padding: 0.53125rem 0.5rem;
    border-radius: 0.125rem;
  }
  .g-button--black-2:active {
    background: var(--black);
  }
  .g-button--black-2:disabled {
    background: #d9d9d9;
  }
  .g-button--orange {
    height: 2rem;
    background: var(--orange);
    color: white;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.0625rem;
    padding: 0.46875rem 7.90625rem;
  }
  .g-image {
    object-fit: cover;
  }
  .g-button--orange:active {
    background: var(--orange-active);
  }
  .g-button--orange:disabled {
    background: #d9d9d9;
    cursor: default;
  }
  @media (min-width: 1024px) {
    h1 {
      @apply font-semibold text-[2.125rem] leading-[2.875rem];
    }
    h2 {
      @apply font-semibold text-[1.75rem] leading-[2.625rem];
    }
    h3 {
      @apply font-semibold text-[1.375rem] leading-8;
    }
    h4 {
      @apply font-semibold text-[1.25rem] leading-[1.75rem];
    }

    .g-button--black-2 {
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.0625rem;
      padding: 0.71875rem 1.5rem;
    }

    .g-button--black-2:hover {
      background: var(--black);
    }
    .g-button--black-2:active {
      background: #484f55;
    }
    .g-button--orange {
      padding: 0.71875rem 1.5rem;
      height: 2.5rem;
    }
    .g-button--orange:hover {
      background: var(--orange-hover);
    }
    .g-button--orange:active {
      background: var(--orange-active);
    }
    .g-button--orange:disabled {
      background: #d9d9d9;
      cursor: default;
    }
  }

  .g-scrollbar::-webkit-scrollbar {
    border-radius: 10px;
    height: 0.375rem;
    width: 0.375rem;
  }

  .g-scrollbar::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 10px;
  }

  .g-scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #e0e0e0;
  }
  .g-button-primary-black {
    @apply bg-black-secondary px-6 py-3 text-caption font-semibold leading-5 text-white hover:bg-[#24292D] active:bg-[#262525] disabled:bg-[#EAEDFA];
  }
  .g-button-primary-orange {
    @apply bg-orange px-8 py-[1.125rem] text-caption font-semibold leading-5 text-white hover:bg-orange-hover active:bg-orange-active disabled:bg-[#EAEDFA];
  }
  .g-button-secondary {
    @apply bg-transparent border border-[#D1D4E1] px-8 py-[1.125rem] text-caption font-semibold leading-5 text-black-secondary hover:border-orange-hover active:border-orange-active disabled:border-[#EAEDFA] disabled:text-[#EAEDFA];
  }
  .g-scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .g-scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
