@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgia.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgiai.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgiab.ttf") format("ttf");
  font-weight: semibold;
  font-style: normal;
}

* {
  @apply text-black-primary font-[Georgia];
}

body {
  @apply h-screen bg-[#f2d5ff];
}

@layer components {
  h1 {
    @apply font-semibold text-2xl;
  }
  h2 {
    @apply font-semibold text-[1.375rem] leading-[1.875rem];
  }
  h3 {
    @apply font-semibold text-[1.25rem] leading-[1.75rem];
  }
  h4 {
    @apply font-semibold text-[1.125rem] leading-[1.625rem];
  }

  .g-container {
    padding: 0 1rem;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
  }

  @media (min-width: 1024px) {
    h1 {
      @apply font-semibold text-[2.125rem] leading-[2.875rem];
    }
    h2 {
      @apply font-semibold text-[1.75rem] leading-[2.625rem];
    }
    h3 {
      @apply font-semibold text-[1.375rem] leading-8;
    }
    h4 {
      @apply font-semibold text-[1.25rem] leading-[1.75rem];
    }
  }
}
